body {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  background-color: #7fffd4;
}
.complete-document {
  width: 600px;
  max-width: 90%;
  background-color: rgba(216, 216, 216, 0.5);
  margin: 30px auto;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
h1 {
  padding: 30px;
  font-size: 30px;
  font-weight: 900;
}

.city {
  color: #068761;
}

#current-location {
  font-size: 20px;
  font-weight: 600;
  background: rgba(238, 236, 240, 1);
  padding: 5px 20px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  transition: all 0.2s ease-in-out;
}
#current-location:hover {
  background-color: rgba(136, 161, 151, 0.5);
  color: #fff;
}

#search-box {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
}

.search-button {
  background-color: rgb(228, 241, 236, 0.5);
  padding: 5px 20px;
  border-radius: 30px;
  border: none;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px;
  transition: all 0.2s ease-in-out;
}

.search-button:hover {
  background-color: rgba(136, 161, 151, 0.5);
  color: #fff;
}

input:focus {
  outline: none !important;
}

.main-day {
  position: relative;
  bottom: 80px;
}
.main-day p {
  line-height: 1.5;
  font-size: 30px;
}

.days p {
  font-size: 14px;
  font-weight: 700;
}

.image {
  margin-bottom: 40px;
}

.status {
  font-weight: 600;
}

#main-status {
  font-size: 22px;
}

.day {
  color: #06a77a;
}

.source-part {
  font-weight: 600;
}

.source-link {
  text-decoration: none;
}
